html,
body {
    padding: 0;
    margin: 0;
}
* {
   box-sizing: border-box;
   font-family: Arial, Sans-Serif;
   font-optical-sizing: auto;
   font-style: normal;
}
body {
    background: #b5d1e5;
}

header {
    padding: 1rem 2rem 1rem 2rem;
    background: #b5d1e5;
    
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #8a8a9f;
    width: 300px;
    border-radius: 100px;
}

.form-group input {
    width: 250px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: none;
}
.form-group input:focus {
    outline: none;
    background: none;
}
.form-group button {
/*    background: #ededed;*/
    background: #8a8a9f;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 1rem;
    min-height: 65vh
}

.input-group {
    min-width: 300px;
    
}
.input-group input {
    
}
::placeholder {
/*    color: #F0F0F0c1;*/
}
@media screen and (min-width: 780px) {
    .form-group {
        min-width: 400px;
    }
    .form-group input {
        width: 300;
    }
    
    main {
        min-height: 75vh
    }
}

 .icon {
    width: 150px;
    height: 150px;
    animation: icon 10000ms linear infinite both;
}

.popup-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-temp {
    font-size:3rem; 
    font-weight: 100; 
    text-align: center;
    margin-block-end: 0;
    margin-block-start:0;
    color: #2d5f83;
}
.popup-desc {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.leaflet-popup-content p {
    margin: 0 !important;
}


footer {
/*    padding: 1rem;*/
}

.details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
        
}
.hbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-width: 100px;
    min-height: 50px;
    font-size: 0.8rem;
    background: #FFFFFF;
    padding: 0.2rem;
    border-radius: 5px;
    box-shadow: 0px 2px 1px #8a8a9f;
}
.hbox p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: #2d5f83;
}

@media screen and (min-width: 780px) {
    .hbox {
        min-width: 150px;
    }
}

.popup {
    background: #a0cef7;
    border-radius: 10px;
}




@keyframes icon {
    0% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(-30px);
    }
}

.error{
    background-color: transparent;
    color: red;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    width: 30%;
    margin-top: 1rem;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-icon {
    width: 250px;
    height: 250px;;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: icon 10000ms linear infinite both;
}

.error p {
    font-size: 1.5rem;
    color: #ff1313;
    text-align: center;
    width: 100%;
    
}

@media screen and (max-width: 780px) {
    .error-icon {
        width: 174px;
        height: auto;
    }
    
}
