<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
    
    </head>
    <body>
         <main>
             <div class="weather-app">
                 <form method="get" action="/">
                     <div class="input-group">
                         <input type="search" name="city" id="city" value="" placeholder="City" />
                     </div>
                 </form>
                 {% if weather %}
                 <div class="weather">
                     <div class="temperature">
                         <span class="num">{{weather.temperature}}</span><span class="metrics">°C</span>
                         <img class="icon" src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="icon" width="200" height="200"/>
                     </div>
                     
                     <div class="weather-details">
                         <div class="city-desc">
                             <p class="city">
                                 <img class="pin" src="../static/img/map.png" alt="pin" width="30" height="30" />
                                 <span>{{weather.city}}</span>
                             </p>
                             <p class="desc">{{weather.description}}</p>
                         </div>
                         
                         <div class="details">
                             <div class="hbox">
                                 <p>Visibility</p>
                                 <p>{{weather.visibility}}m</p>
                             </div>
                             <div class="hbox">
                                 <p>Wind Speed</p>
                                 <p>{{weather.windspeed}}km</p>
                             </div>
                             <div class="hbox">
                                 <p>Pressure</p>
                                 <p>{{weather.pressure}}Pa</p>
                             </div>
                             <div class="hbox">
                                 <p>Humidity</p>
                                 <p>{{weather.humidity}}%</p>
                             </div>
                         </div>
                     </div>
                 </div>
                 {% endif %}
             </div>
         </main>
    </body>
    
</html>
